{% extends "layout.twig" %}

{% block additional_styles %}
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div id="splash">
            <h1 id="main_heading">Chris Rowles</h1>
            <h3 id="main_subheading">Software Developer based in Bedfordshire, United Kingdom.</h3>
        </div>

        <div class="blurb">
            <div class="blurb-header">About</div>
            <div class="blurb-content" id="main_about">
                Hi, I'm Chris, I build attractive, scalable and resilient web solutions.
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="blurb">
                    <div class="blurb-header">Current</div>
                    <div class="blurb-content">
                        <h4 class="somewhat-big" id="current_employer">
                            Go Deploy
                        </h4>
                        <h6 class="kinda-small" id="current_position">
                            Principal Developer
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 order-1">
                <div class="blurb">
                    <div class="blurb-header">Previous</div>
                    <div class="blurb-content">
                        <h4 class="somewhat-big">Townsweb Archiving <span class="sub-header">(2019 - 2020)</span></h4>
                        <h6 class="kinda-small">Senior Software Developer</h6>
                        <h4 class="somewhat-big">Sodexo <span class="sub-header">(2017 - 2019)</span></h4>
                        <h6 class="kinda-small">Full Stack Developer</h6>
                        <h4 class="somewhat-big">Market Force <span class="sub-header">(2015 - 2017)</span></h4>
                        <h6 class="kinda-small">Developer</h6>
                        <h4 class="somewhat-big">Fastbolt <span class="sub-header">(2014 - 2015)</span></h4>
                        <h6 class="kinda-small">Systems Administrator</h6>
                        <h4 class="somewhat-big">Fastbolt <span class="sub-header">(2012 -2014)</span></h4>
                        <h6 class="kinda-small">Junior Systems Administrator</h6>
                    </div>
                </div>
            </div>
            <!-- TODO switch these around on mobile -->
            <div class="col-12 col-md-6 order-2 order-md-12">
                <div class="blurb">
                    <div class="blurb-header">Contact</div>
                    <div class="blurb-content">
                        <h4 class="somewhat-big">Email</h4>
                        <h6 class="kinda-small" id="site_email"><a href="mailto:me@rowles.ch">me@rowles.ch</a>
                        </h6>
                        <h4 class="somewhat-big">Phone</h4>
                        <h6 class="kinda-small" id="site_telephone"><a href="tel:+44(0)75222 66 722">+44(0)75222 66 722</a>
                        </h6>
                        <h4 class="somewhat-big">GitHub</h4>
                        <h6 class="kinda-small" id="social_github"><a href="https://github.com/chrisrowles">https://github.com/chrisrowles</a></h6>
                        <h4 class="somewhat-big">Twitter</h4>
                        <h6 class="kinda-small" id="social_twitter"><a href="https://twitter.com/chrisrowles_99">https://twitter.com/chrisrowles_99</a></h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="blurb">
                    <div class="blurb-header">Open Source</div>
                    <div class="blurb-content">
                        <ul class="list">
                            <li><a href="https://github.com/chrisrowles/pi-monitor-api" target="_blank">Raspberry Pi Monitor API</a></li>
                            <li><a href="https://github.com/chrisrowles/pi-monitor" target="_blank">Raspberry Pi Monitor Client</a></li>
                            <li><a href="https://github.com/chrisrowles/pi-monitord" target="_blank">Raspberry Pi Discord Integration</a></li>
                            <li><a href="https://github.com/chrisrowles/ffmpeg-transcoder" target="_blank">FFMPeg Transcoder Library</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="blurb">
                    <div class="blurb-header">Latest Posts</div>
                    <div class="blurb-content">
                        <ul class="list">
                            {% if posts is not empty %}
                                {% for post in posts %}
                                    <li><a href="/blog/{{ post.id }}/view" target="_blank">{{ post.title }}</a></li>
                                {%  endfor %}
                            {% else %}
                                <li><em class="text-muted">There is nothing here...</em></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
{% endblock %}
