@import "fonts";

@import "~bootstrap/scss/functions";
@import '~bootstrap/scss/bootstrap';
@import "~trumbowyg/dist/ui/trumbowyg.css";

@import "notification";
@import "sweetalert";
@import "buttons";

@import "headings";
@import "base";
@import "content";

@import "environment";

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    
    &.filtered {
        background: url(../images/filter.png);
    }
    
    &.dark {
        background: rgb(0 0 0 / 70%);
    }
    
    &.light {
        background: rgb(255 255 255 / 50%);
    }
}