@import "~bootstrap/scss/bootstrap";
@import "fonts";

/**
 * Base
 */
html {
    color: #6c6c6c;
    font-size: 14px;
    line-height: 1.4;
    height: 100%;
}

canvas {
    display: block;
    vertical-align: bottom;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ffffff;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

hr {
    border-top: 1px dotted #8c8b8b;
    border-bottom: 1px dotted #fff;
    margin-top: 60px;
    margin-bottom: 60px;
}

a {
    color: #f05340;
    text-decoration: none;
}

table {
    width: 100%;
    border-spacing: 0;
}

th, td {
    padding: 8px;
    vertical-align: middle;
    text-align: left;
}

table tr {
    th, td {
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        padding: 5px;
    }

    th:first-child, td:first-child {
        border-left: 1px solid transparent;
    }

    &:first-child th {
        &:first-child {
            border-top-left-radius: 6px;
        }

        &:last-child {
            border-top-right-radius: 6px;
        }
    }

    &:last-child td {
        &:first-child {
            border-bottom-left-radius: 6px;
        }

        &:last-child {
            border-bottom-right-radius: 6px;
        }
    }
}

th.column-header {
    color: #ffffff;
    background: #373737;
    padding-top: 10px;
    padding-bottom: 10px;
}

table tr {
    &:nth-child(even) {
        background-color: #f5f5f5;
    }

    &:hover {
        background-color: #ddd;
    }

    &:last-child td {
        &:first-child {
            border-bottom-left-radius: 10px;
        }

        &:last-child {
            border-bottom-right-radius: 10px;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

pre > code {
    padding: 0.8rem;
    font-size: 0.9rem;
    line-height: 1.45;
}

code {
    background: #F0F0F0;
    border-radius: 0.3rem;
    padding: 0.2rem;
}

::-moz-selection, ::selection {
    background: #b3d4fc;
    text-shadow: none;
}

#content-wrapper {
    min-height: 100%;
}

#content {
    overflow-x: hidden;
    padding-bottom: 50px;
}

#footer {
    position: relative;
    width: 100%;
    margin-top: -50px;
    height: 50px;
    line-height: 50px;
    clear: both;
    text-align: center;
    border-top: 1px solid #ebebeb;
    overflow: hidden;
}

button:hover, a:hover {
    cursor: pointer;
}

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.container-fluid {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.btn-go {
    background: transparent;
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.6s;

    &:hover {
        background: #f05340;
        color: #ffffff;
    }
}

.btn-neutral {
    background: rgb(128, 153, 255);
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.6s;

    &:hover {
        background: rgba(128, 153, 255, 0.7);
        color: #ffffff;
    }
}

.btn-danger {
    background: rgb(195, 44, 48);
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.6s;

    &:hover {
        background: rgba(195, 44, 48, 0.7);
        color: #ffffff;
    }
}

/**
 * Headers
 */

#page-header {
    margin-top: 60px;
    margin-bottom: 60px;

    h1 {
        color: #373737;
        font-weight: 100;
        font-size: 3rem;
        margin: 0;
    }

    h3 {
        font-weight: 400;
        font-size: 24px;
        margin: 0;
    }
}

.header {
    position: relative;
    border-bottom: 1px solid #ebebeb;

    &:before {
        content: " ";
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: #fafafa;
    }

    &:after {
        content: " ";
        position: absolute;
        bottom: -3px;
        width: 100%;
        height: 1px;
        background-color: #fefefe;
    }
}

.sub-header {
    font-size: 10px;
    color: #a8a8a8;
    vertical-align: middle;
}

.header {
    .menu {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: transparent;
        float: left;
        margin: 0 0 0 30px;

        li {
            float: left;
            margin-top: 8px;
            line-height: 29px;

            a {
                display: block;
                color: rgb(108, 108, 108);
                text-align: center;
                font-weight: 600;
                padding: 16px;
                text-decoration: none;
                transition: 0.3s;

                &:hover {
                    color: #373737;
                }
            }
        }

        .active {
            color: #f05340;
            border-bottom: 1px solid #f05340;
        }
    }

    .contact {
        float: right;
        margin: 0;
        height: 70px;
        font-size: 0px;

        li {
            display: inline;
            list-style-type: none;
            font-size: 30px;
            line-height: 70px;
            margin-left: 6px;

            a {
                display: inline-block;
                line-height: 1;
                padding: 6px;
                transition: color 100ms ease;
                color: #373737;

                &:hover, &:active {
                    color: #373737;
                }
            }
        }
    }
}

h4.somewhat-big {
    margin: 0;
    line-height: 1;
    font-size: 18px;
    font-weight: 600;
}

h6.kinda-small {
    margin: 0;
    margin-bottom: 25px;
    font-size: 13px;
    font-weight: 400;
}

#logo {
    float: left;
    font-size: 26px;
    line-height: 29px;
    font-weight: 700;
    background-color: #373737;
    border-radius: 3px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 4px 12px;
    color: #fff;
}

.fa-twitter, .fa-github, .fa-envelope {
    transition: 0.3s;
}

.fa-github:hover {
    color: #000000;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-envelope:hover {
    color: #f05340;
}

#splash {
    margin-top: 120px;
    margin-bottom: 120px;

    h1 {
        font-weight: 200;
        font-size: 4.5em;
        color: #363636;
        margin: 0;
    }

    h3 {
        font-weight: 100;
        font-size: 1.75em;
        color: #505050;
        margin: 0;
    }
}

.blurb {
    letter-spacing: 0.5px;
    margin-bottom: 50px;

    .blurb-header {
        color: #a8a8a8;
        font-size: 12px;
        font-weight: 400;
        position: relative;
        padding-bottom: 40px;

        &:after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 20px;
            width: 30px;
            height: 1px;
            background-color: #d3d3d3;
        }
    }

    .blurb-content .list {
        padding: 0;
        list-style: none;
    }

    .blurb-content a {
        display: table;
        text-decoration: none;
        border-bottom: 1px dotted #a8a8a8;
    }
}

.swal-button {
    background-color: #f05340;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
}

.swal-button--cancel {
    color: #f5f5f5;
    background-color: #f05340;

    &:hover {
        color: #f05340;
        background-color: #ffffff;
        border: 1px solid #f05340;
    }

    &:not([disabled]):hover {
        background-color: #ffffff;
    }
}

.swal-button--confirm {
    color: #f5f5f5;
    background-color: #46f052;

    &:hover {
        color: #46f052;
        background-color: #ffffff;
        border: 1px solid #46f052;
    }

    &:not([disabled]):hover {
        background-color: #ffffff;
    }
}

.swal-button--action {
    color: #f5f5f5;
    background-color: #a6b4ff;

    &:hover {
        color: #a6b4ff;
        background-color: #ffffff;
        border: 1px solid #a6b4ff;
    }

    &:not([disabled]):hover {
        background-color: #ffffff;
    }
}

.swal-button--default {
    color: #f5f5f5;
    background-color: #373737;

    &:hover {
        color: #373737;
        background-color: #ffffff;
        border: 1px solid #373737;
    }

    &:not([disabled]):hover {
        background-color: #ffffff;
    }
}

.environ-banner {
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: white;

    .development {
        background-color: #5cd75c;
    }

    .staging {
        background-color: #f05340;
    }
}

.debug-exception-container {
    padding: 10px;
    background: #3c3c3c;
    border-radius: 10px;

    .debug-exception {
        font-family: monospace;
        font-size: 1.2em;
        font-weight: 700;
        margin: .83em 0;
        color: #d75757;
    }

    .trace {
        color: white;
        font-size: 0.85em;
    }
}